@import url("app.css");
@import url("invoice.css");

@page {
  margin: 0;
  /* page-break-before: avoid;
  page-break-after: avoid;
  page-break-inside: avoid; */
}

body {
  font-size: 12px;
  /*line-height: 24px;*/
  margin: 0;
}
